*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/chatapp/pingnest/ui/theme/ThemeColorRoles.txt
/app/src/main/java/com/chatapp/pingnest/data/EndPoints.txt
/app/src/main/java/com/chatapp/pingnest/ui/theme/ThemeColorRoles.txt
